.container{
    border: 2px solid black;
    width: 90%;
    display: grid;
    grid-template-columns: 75% 22%;
    grid-column-gap: 2em;
    /* height: 100%; */
    height: 100vh;
    /* align-items: center; */
    justify-content: center;
}

.container-list{
    height: 500px;
    border: 2px solid blue;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.container-img{
    height: 280px;
    border: 2px solid blue;
}